.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    bottom: 0;
}

.footer .socials img {
    width: 2rem;    
    margin: 1%;

}


.footer .logo img {
    width: 10%;
    height: auto;
}

.footer .legal {
    margin-top: 28px;
}

.footer .copyright {
    margin-top: 1%;
    margin-bottom: 0.5%;
}